baseURL = "https://fudolfo.xyz/"

defaultContentLanguage = 'es'

title = "Fudolfo"
theme = "ananke"
publishDir = "public"

[menu]

  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 10

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      hardWraps = true

[taxonomies]
  tag = "tags"